@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 30px auto;
    width: 350px;
}